@model IEnumerable<BitcoinPrice>

@{
    ViewData["Title"] = "Bitcoin Prices";
}

<h1>Bitcoin Prices</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
            </tr>
        }
    </tbody>
</table>
